.header {
    background-color: var(--white);
    display: grid;
    grid-template-areas: 
    "logo about logout";
    grid-template-columns: 1fr auto auto;
    column-gap: 20px;
    padding: 15px 30px;
    border-bottom: 1px solid var(--grey-main);
}

.logo {
    grid-area: logo;
}

.about {
    grid-area: about;
}

.logout {
    grid-area: logout;
}