.layout {
    display: grid;
    grid-template-areas: 
    "sidebar desk";
    grid-template-columns: auto 1fr;

}

.sidebar {

    grid-area: sidebar;
    border-right: 1px solid var(--grey-main);
    display: flex;
    flex-direction: column;
    max-height: 100vh;

    /* grid-template-areas: 
    "profile"
    "contacts"
    "search";
    grid-template-rows: auto auto auto; */
}


.desk {
    grid-area: desk;
}


.contacts {
    overflow: auto;
    grid-area: contacts;
    margin-top: 50px;
    

}

.profile {
    position: sticky;
    top: 50px;
    grid-area: profile;

}

.search {
    position: sticky;
    bottom: 0;
    padding: 20px 30px;
    background-color: var(--white);
    grid-area: search;
    
}